<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo_painel }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">
    <!--   paginação-->
    <script>
        $(document).ready(function () {
            function calcularPer_pageDinamico() {
                var tableTop = $('.carousel-inner').offset().top;
                var footerHeight = $('footer').outerHeight();
                var windowHeight = $(window).height();
                var espacamento = 20;
                var espacoDisponivel = windowHeight - tableTop - footerHeight - espacamento;
                var linhaAltura = $('table tbody tr:first').outerHeight();
                var linhasPorPagina = Math.floor(espacoDisponivel / linhaAltura);

                if (linhasPorPagina < 1) {
                    linhasPorPagina = 1;
                }

                return linhasPorPagina;
            }

            function atualizarPer_page(per_page) {
                $.ajax({
                    url: '/atualizar_per_page',
                    type: 'POST',
                    data: { per_page: per_page },
                    success: function () { },
                    error: function (error) {
                        console.error('Erro ao atualizar per_page:', error);
                    }
                });
            }

            function atualizarDados() {
                $.ajax({
                    url: window.location.href,
                    type: 'GET',
                    success: function (data) {
                        var tabelaBody = $(data).find("#painelTableBody").html()
                        $("#painelTableBody").html(tabelaBody);
                        aplicarEstilos();
                    },
                    error: function (error) {
                        console.error('Erro ao atualizar dados:', error);
                    }
                });
            }
            function aplicarEstilos() {
                $('#painelTableBody tr').each(function () {
                    $(this).find('td').each(function (index) {
                        var coluna = $(this);
                        var colunaData = {{ colunas| tojson
                    }};
                var colunaInfo = colunaData[index];
                if (colunaInfo) {
                    coluna.css('font-size', colunaInfo[14] + 'px'); // Tamanho da fonte
                    coluna.css('color', colunaInfo[13]); // Cor do texto
                    coluna.css('text-align', colunaInfo[15]); // Alinhamento
                    if (colunaInfo[16] === 'Y') {
                        coluna.css('font-weight', 'bold'); // Negrito
                    } else {
                        coluna.css('font-weight', 'normal');
                    }
                    if (colunaInfo[17] === 'Y') {
                        coluna.css('font-style', 'italic'); // Itálico
                    } else {
                        coluna.css('font-style', 'normal');
                    }
                }
            });
                });
            }

        // Atualiza os dados a cada segundos_atualizacao
        setInterval(atualizarDados, {{ segundos_atualizacao * 1000 }});

        // Recarrega a página após qt_segundos_atualizacao minutos
        setTimeout(function () {
            location.reload();
        }, {{ segundos_atualizacao * 1000 }});

        $(window).resize(function () {
            var per_pageDinamico = calcularPer_pageDinamico();
            atualizarPer_page(per_pageDinamico);
        });

        var per_pageDinamico = calcularPer_pageDinamico();
        atualizarPer_page(per_pageDinamico);
        aplicarEstilos();
        });
    </script>



</head>



<body class="dark-theme"></body>

<div class="container-fluid mt-1 page" style="padding: 0;">
    <div class="header-painel" style="padding: 10px;">
        <div class="header">
            <div class="logo">
                <!-- Logotipo do aplicativo -->
                <img id="logoImg" src="{{ url_for('static', filename='imagens/logo3.png') }}" alt="Logotipo">
            </div>
            <h2 class="titulo" style="color: white;">{{ titulo_painel }}</h2>
        </div>
        <!-- Botão para mudar para visualização em gráfico -->
        <a href="{{ url_for('visualizar_painel_grafico', painel_id=painel_id) }}" class="btn btn-primary mb-4">
            <i class="fas fa-chart-pie"></i> Gráfico
        </a>

        <!-- Filtro -->
        {% if valores_filtro %}
        <div class="form-group">
            <form method="GET">
                <label for="filtro">Filtro:</label>
                {% if tipo_filtro == "unico" %}
                <select class="form-control" id="filtro" name="filtro">
                    <option value="">Todos</option>
                    {% for valor in valores_filtro %}
                    <option value="{{ valor[0] }}" {% if filtro_selecionado and valor[0] in filtro_selecionado %}
                        selected {% endif %}>{{ valor[0] }}</option>
                    {% endfor %}
                </select>
                {% elif tipo_filtro == "multiselecao" %}
                <select class="form-control" id="filtro" name="filtro" multiple>
                    {% for valor in valores_filtro %}
                    <option value="{{ valor[0] }}" {% if filtro_selecionado and valor[0] in filtro_selecionado %}
                        selected {% endif %}>{{ valor[0] }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
            </form>
        </div>
        {% endif %}




        {% if resultados %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
            data-interval="{{ segundos_rolagem * 1000 }}">
            <ol class="carousel-indicators" style="height: 1px;">
                {% if (total|int) > 0 and (per_page|int) > 0 %}
                {% for i in range(((total|int) - 1) // (per_page|int) + 1) %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"
                    class="{{ 'active' if i == 0 else '' }}">
                </li>
                {% endfor %}
                {% endif %}
            </ol>
            <div class="carousel-inner">
                {% if (total|int) > 0 and (per_page|int) > 0 %}
                {% for i in range(((total|int) - 1) // (per_page|int) + 1) %}
                <div class="carousel-item {{ 'active' if i == 0 else '' }}"
                    style="height: auto; width: 100%; text-overflow: ellipsis; padding: 10px;">

                    <table class="table table-striped table-dark"
                        style="table-layout: fixed; width: 100%; height: auto">
                        <thead>
                            <tr>
                                {% for coluna in titulos %}
                                <th scope="col" style="width: {{ coluna.tamanho }}%; ">{{ coluna.titulo }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody id="painelTableBody">
                            {% set start_index = (i * per_page)|int %}
                            {% set end_index = (start_index + per_page)|int %}
                            {% set pagina_dados = resultados[start_index:end_index] %}
                            {% if pagina_dados|length > 0 %}
                            {% for resultado in pagina_dados %}
                            <tr>
                                {% for indice in indices_visiveis %}
                                {% set coluna_atual = titulos[loop.index0] %}
                                <td class="td" style="width: {{ coluna_atual.tamanho }}%;">
                                    {{ resultado[indice] | default(' ') | replace('None', ' ') | safe }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="{{ titulos|length }}" class="text-center">Nenhum dado disponível
                                    nesta página.</td>
                            </tr>
                            {% endif %}
                        </tbody>

                    </table>

                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% else %}
        <p class="text-center">Nenhum dado disponível para este painel.</p>
        {% endif %}





        <footer class="footer"
            style="display: flex; justify-content: align-items: center;  position: fixed; bottom: 0; width: 100%;">
            <!-- Dashboard cards (esquerda) -->

            <div class="d-flex" id="dashboard-container" style="white-space: nowrap; overflow-x: auto;">
                {% for dashboard in dashboards %}
                <div class="card dashboard-card" id="card-{{ loop.index }}" data-cor="{{ dashboard.cor }}"
                    style="display: inline-block; margin: 0 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ dashboard.titulo }}: {{ dashboard.dados | join(', ') }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Cards das Legendagens (direita) -->
            <div class="d-flex" id="legenda-container"
                style="white-space: nowrap; overflow-x: auto; justify-content: flex-end;">
                {% for legenda in legendas %}
                <div class="card legenda-card" id="legenda-{{ loop.index }}" data-cor="{{ legenda.cor }}"
                    style="display: inline-block; margin: 0 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ legenda.titulo }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </footer>



    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>

</html>